<div class="pure-u-1{% if blackbox is defined and blackbox == true %} vimeo{% endif %}">
    <iframe src="https://player.vimeo.com/video/{{ vimeo_id }}?title=0&byline=0&portrait=0" class="videoframe"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>