[general]
sitename='[your sitename]'
siteurl='[your site url]]'

[twig]
cachedir=../cache

[database]
; database 
driver = mysql
host = [your host]
database = [your dbname]

; properties	
charset = utf8
collation = utf8_unicode_ci

; credentials
username = [username]
password = [password]