<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock %} 
    
    <title>gertrietveld.com</title>

    <link rel="stylesheet" href="/css/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="pure-g wrapper admin">
    <div class="pure-u-1 pure-u-md-1-5 ">
        <div class="pure-menu">
            <span class="pure-menu-heading">admin</span>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link" data-list='pages'>pages</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link" data-list='items'>items</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link" data-list='categories'>categories</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
$('a.pure-menu-link').click(
	function() {
		$('.pure-menu-item').removeClass('pure-menu-selected');
		$(this).parent().addClass('pure-menu-selected');
		Admin.showList($(this).attr('data-list'))
	}
);

var Admin= {
	showList : function(list) {
		$.ajax({
		  url: "/admin/"+list,
		    statusCode: {
		    403: function(xhr) {
		      if(window.console) console.log(xhr.responseText);
		      	window.location.replace('/login')
		    }
		  }
		}).done(function(data) {
		  console.log(JSON.stringify(data));
		});
	}
}
</script>
</body>