{% extends "layout.html.twig" %}

{% block content %}
	<div class="pure-u-1 pure-u-md-4-5 content item {% if contentclass is defined %} {{ contentclass }}{% endif %}">
	{{ content | raw }}
	</div>
{% endblock %}