{% extends "layout.html.twig" %}

{% block content %}
	{% for item in items %}
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4 pure-u-lg-1-5 pure-u-xl-1-6 thumbnail">
            <a href="{{ item.link }}">
                <img class="pure-img" src="{{ item.image }}">
                <span class="legend">{{ item.legend }}</span>
            </a>
        </div>
	{% endfor %}
{% endblock %}